name: canns-docs
channels:
  - conda-forge
  - defaults
dependencies:
  - python>=3.11
  - pip
  - jupyter
  - matplotlib
  - numpy
  - scipy
  - tqdm
  - pip:
    - brainpy[cpu]
    - canns-lib>=0.6.2
    - canns
